<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, 
        initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" rel="stylesheet">

    <!-- add drawer.js -->
    <script src="/js/drawer.js"></script>

    <!-- Add CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title>AnasEnterprises | Add Product</title>
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark aqua-gradient">
        <!-- sidebar -->
        <span class="navbar-brand" style="font-size:20px;cursor:pointer; margin: 0px 12px"
            onclick="openNav()">&#9776;</span>

        <!-- Navbar brand -->
        <a class="navbar-brand" href="/home"><b>Anas</b>Enterprises</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-caret-down"></i>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>


                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>

            </ul>
            <!-- Links -->

            <form class="form-inline">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </div>
            </form>
        </div>
        <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->
    <!-- sidebar -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <h6><img src="<%= (user.thumbnail) || ('/image/googlephoto.jpg')%>" alt="thumbnail"
                class="rounded-circle img-fluid" style="width: 50px; height: 50px;">
            <% if(currentUser && currentUser.isSeller){%>
            <i class="fas fa-user-shield"></i>Admin
            <%} %>
        </h6>
        <% if(currentUser && currentUser.isSeller){%>
        <h6><%= (user.firstname + " " + user.lastname)%></h6>
        <%} %>
        <h6><%=user.username%></h6>

        <h6 style="padding: 0px 0px 8px 25px; overflow: hidden; border-bottom: 1px solid rgb(199, 194, 194);">
            <%=user.email%></h6>

        <a href=""><i class="fas fa-home"></i> Home</a>
        <a href=""><i class="fas fa-address-book"></i>Contact</a>
        <a href=""><i class="fas fa-address-card"></i>About Us</a>
        <a href="/auth/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
    </div>
    <!-- home -->
    <div id="home-login">
        <!-- Material form contact -->
        <div class="card">

            <h5 class="card-header aqua-gradient white-text text-center py-4">
                <strong>Add Product</strong>
            </h5>

            <!--Card content-->
            <div class="card-body px-lg-5 pt-0">

                <!-- Form -->
                <form action="/home/addproduct" method="POST" class="text-center" style="color: #757575;">

                    <!-- Name -->
                    <div class="md-form mt-3">
                        <input type="text" name="productname" id="materialContactFormName" class="form-control">
                        <label for="materialContactFormName">Product Name</label>
                    </div>
                    <!-- Image URL -->
                    <div class="md-form mt-3">
                        <input type="text" name="imgurl01" id="" class="form-control">
                        <label for="materialContactFormName">First Image Url</label>
                    </div>
                    <div class="md-form mt-3">
                        <input type="text" name="imgurl02" id="" class="form-control">
                        <label for="materialContactFormName">Second Image Url</label>
                    </div>
                    <div class="md-form mt-3">
                        <input type="text" name="imgurl03" id="" class="form-control">
                        <label for="materialContactFormName">Third Image Url</label>
                    </div>
                    <div class="md-form mt-3">
                        <input type="text" name="imgurl04" id="" class="form-control">
                        <label for="materialContactFormName">Fourth Image Url</label>
                    </div>
                    <div class="md-form mt-3">
                        <input type="text" name="price" id="" class="form-control">
                        <label for="materialContactFormName">Product Price</label>
                    </div>



                    <!-- Subject -->
                    <span>Category</span>
                    <select class="mdb-select">
                        <option value="" disabled>Choose option</option>
                        <option value="1" selected>Feedback</option>
                        <option value="2">Report a bug</option>
                        <option value="3">Feature request</option>
                        <option value="4">Feature request</option>
                    </select>

                    <!--Message-->
                    <div class="md-form">
                        <textarea id="materialContactFormMessage" class="form-control md-textarea" rows="3"></textarea>
                        <label for="materialContactFormMessage">Description</label>
                    </div>

                    <!-- Send button -->
                    <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect"
                        type="submit">Send</button>

                </form>
                <!-- Form -->

            </div>

        </div>
        <!-- Material form contact -->

    </div>


    <!-- Footer -->
    <footer class="page-footer font-small aqua-gradient">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> AnasEnterprises</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->


    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js">
    </script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/js/mdb.min.js">
    </script>
</body>

</html>