<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" rel="stylesheet">

    <!-- add drawer.js -->
    <script src="/js/drawer.js"></script>

    <!-- Add CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title>AnasEnterprises | homepage | LandingPage</title>
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark aqua-gradient">
        <!-- sidebar -->
        <span class="navbar-brand" style="font-size:20px;cursor:pointer; margin: 0px 12px"
            onclick="openNav()">&#9776;</span>

        <!-- Navbar brand -->
        <a class="navbar-brand" href="/"><b>Anas</b>Enterprises</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-caret-down"></i>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>


                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>

            </ul>
            <!-- Links -->

            <form class="form-inline">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </div>
            </form>
        </div>
        <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->
    <!-- sidebar -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/home"><i class="fas fa-home"></i> Home</a>
        <a href=""><i class="fas fa-address-book"></i>Contact</a>
        <a href=""><i class="fas fa-address-card"></i>About Us</a>
        <% if(currentUser) {%>
        <a href="/auth/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>

        <%} else {%>
        <a href="/auth/login"><i class="fas fa-sign-out-alt"></i>Login | SignUp</a>
        <%}%>
                
    </div>
    <!-- homepage -->
    <div id="home">

        <div class="row">
            <div class="col-md-3">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, nam? Eos maxime reiciendis
                    iusnulla provident deleniti ipsa aliquid. Ipsam rerum quo perferendis labore neque sapiente
                    explicabo tempora id maiores!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae voluptates rem quo quaerat
                    quidem expedita dolorem harum. Quisquam error explicabo non. Aliquid, hic? Eligendi incidunt
                    exercitationem totam, similique sint quam!</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, nam? Eos maxime reiciendis
                    iusnulla provident deleniti ipsa aliquid. Ipsam rerum quo perferendis labore neque sapiente
                    explicabo tempora id maiores!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae voluptates rem quo quaerat
                    quidem expedita dolorem harum. Quisquam error explicabo non. Aliquid, hic? Eligendi incidunt
                    exercitationem totam, similique sint quam!</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, nam? Eos maxime reiciendis
                    iusnulla provident deleniti ipsa aliquid. Ipsam rerum quo perferendis labore neque sapiente
                    explicabo tempora id maiores!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae voluptates rem quo quaerat
                    quidem expedita dolorem harum. Quisquam error explicabo non. Aliquid, hic? Eligendi incidunt
                    exercitationem totam, similique sint quam!</p>

            </div>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, nam? Eos maxime reiciendis
                    iusnulla provident deleniti ipsa aliquid. Ipsam rerum quo perferendis labore neque sapiente
                    explicabo tempora id maiores!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae voluptates rem quo quaerat
                    quidem expedita dolorem harum. Quisquam error explicabo non. Aliquid, hic? Eligendi incidunt
                    exercitationem totam, similique sint quam!</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, nam? Eos maxime reiciendis
                    iusnulla provident deleniti ipsa aliquid. Ipsam rerum quo perferendis labore neque sapiente
                    explicabo tempora id maiores!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae voluptates rem quo quaerat
                    quidem expedita dolorem harum. Quisquam error explicabo non. Aliquid, hic? Eligendi incidunt
                    exercitationem totam, similique sint quam!</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, nam? Eos maxime reiciendis
                    iusnulla provident deleniti ipsa aliquid. Ipsam rerum quo perferendis labore neque sapiente
                    explicabo tempora id maiores!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae voluptates rem quo quaerat
                    quidem expedita dolorem harum. Quisquam error explicabo non. Aliquid, hic? Eligendi incidunt
                    exercitationem totam, similique sint quam!</p>

            </div>
            <div class="col-md-3">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, nam? Eos maxime reiciendis
                    iusnulla provident deleniti ipsa aliquid. Ipsam rerum quo perferendis labore neque sapiente
                    explicabo tempora id maiores!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae voluptates rem quo quaerat
                    quidem expedita dolorem harum. Quisquam error explicabo non. Aliquid, hic? Eligendi incidunt
                    exercitationem totam, similique sint quam!</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, nam? Eos maxime reiciendis
                    iusnulla provident deleniti ipsa aliquid. Ipsam rerum quo perferendis labore neque sapiente
                    explicabo tempora id maiores!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae voluptates rem quo quaerat
                    quidem expedita dolorem harum. Quisquam error explicabo non. Aliquid, hic? Eligendi incidunt
                    exercitationem totam, similique sint quam!</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, nam? Eos maxime reiciendis
                    iusnulla provident deleniti ipsa aliquid. Ipsam rerum quo perferendis labore neque sapiente
                    explicabo tempora id maiores!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae voluptates rem quo quaerat
                    quidem expedita dolorem harum. Quisquam error explicabo non. Aliquid, hic? Eligendi incidunt
                    exercitationem totam, similique sint quam!</p>

            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer class="page-footer font-small aqua-gradient">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="/"> AnasEnterprises</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->


    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js">
    </script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/js/mdb.min.js">
    </script>
</body>

</html>