<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport"content="width=device-width, user-scalable=no, 
        initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        
        

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

        

        <!-- add drawer.js -->
        <script src="js/drawer.js"></script>

        <!-- Add CSS -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>BiharSuper50</title>
	      <meta name="og_title" property="og:title" content="BSEB Objective Question,Bihar Board Objective Question,50 Number Objective Number,Model Paper For Bihar Board,10th Class Objective Question,Math Objective Question For Bihar Board,Math Objective Question For BSEB,BiharSuper50,Science Objective Question For Bihar Board,Science Objective Question For BSEB,BSEB Model Question"/>
        <meta name="Keywords" content="BSEB Objective Question,Bihar Board Objective Question,50 Number Objective Number,Model Paper For Bihar Board,10th Class Objective Question,Math Objective Question For Bihar Board,Math Objective Question For BSEB,BiharSuper50,Science Objective Question For Bihar Board,Science Objective Question For BSEB,BSEB Model Question"/>
        <meta name="Description" property="og:description" content="This is the Online Website for BSEB Objective Question,Bihar Board Objective Question,50 Number Objective Number,Model Paper For Bihar Board,10th Class Objective Question,Math Objective Question For Bihar Board,Math Objective Question For BSEB,BiharSuper50,Science Objective Question For Bihar Board,Science Objective Question For BSEB,BSEB Model Question, This is Biggest BiharSuper50 Question Store where you can find almost every quesion which is come in your BSEB or Bihar Board 10th class."/>

    </head>

    <body>
      <!-- drawer -->
        <div id="sidebar">
            <div class="toggle-btn" onclick="toggleSidebar()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul>
                
                  <li><img src="<%= user.thumbnail%>" class="img-circle" alt="Responsive image"></li>
                  <li style="padding:0px 15px;"><%= user.username%></li>
                  <li style="padding:0px 15px; overflow: hidden; border-bottom: 1px solid rgb(199, 194, 194);"><h6><%=user.email%></h6> </li>
                  <li><i class="fas fa-home"></i> Home</li>
                  <li><i class="fas fa-address-book"></i>Contact</li>

                  <li><a href="/auth/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>

                  
            </ul>  
        </div> 
        <!-- navbar  -->
         <nav>
                <ul>
                    <li style="font-size: 18px"><a href=""><b>Bihar</b>Super<em>50</em></a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Abc</a></li>
                    <!-- <li><a href="">shidhfh</a></li>  -->
                   
                </ul>
        </nav>
        <!-- homepage -->

        <div id="doc" class="yui-t4">
            <h1>i amdjfoj jfjldvjlfqji dkowrkovnlksd djkafji.\f.jk djwiljrjkdvjk djb,fjfbjkcbjkd dnkefkfhjs fnafjefjk fnjfjnef </h1>
          </div>

        <div id="doc" class="yui-t4">
                <div id="hd">
                  <div id="header"><h1><a href="http://www.free-css.com/free-css-layouts.php">Free CSS Layouts</a></h1></div>
                </div>
                <div id="bd">
                  <div id="yui-main">
                    <div class="yui-b">
                      <div class="content">Content Here</div>
                    </div>
                  </div>
                  <div class="yui-b">
                    <div id="secondary">
                        <ul style="padding: 10px 25px">
                            <li>Some Point</li>
                            <li>Special Point</li>
                            <li>Extra Point</li>
                        </ul>
                    </div>
                  </div>
                </div>
                <div id="ft">
                  <div id="footer">Footer</div>
                </div>
              </div>
           
              <div id="doc" class="yui-t4">
                  <div id="hd">
                    <div id="header"><h1><a href="http://www.free-css.com/free-css-layouts.php">Free CSS Layouts</a></h1></div>
                  </div>
                  <div id="bd">
                    <div id="yui-main">
                      <div class="yui-b">
                        <div class="content">Content Here</div>
                      </div>
                    </div>
                    <div class="yui-b">
                      <div id="secondary">
                          <ul style="padding: 10px 25px">
                              <li>Some Point</li>
                              <li>Special Point</li>
                              <li>Extra Point</li>
                          </ul>
                      </div>
                    </div>
                  </div>
                  <div id="ft">
                    <div id="footer">Footer</div>
                  </div>
                </div>
             
                <div id="doc" class="yui-t4">
                    <div id="hd">
                      <div id="header"><h1><a href="http://www.free-css.com/free-css-layouts.php">Free CSS Layouts</a></h1></div>
                    </div>
                    <div id="bd">
                      <div id="yui-main">
                        <div class="yui-b">
                          <div class="content">Content Here</div>
                        </div>
                      </div>
                      <div class="yui-b">
                        <div id="secondary">
                            <ul style="padding: 10px 25px">
                                <li>Some Point</li>
                                <li>Special Point</li>
                                <li>Extra Point</li>
                            </ul>
                        </div>
                      </div>
                    </div>
                    <div id="ft">
                      <div id="footer">Footer</div>
                    </div>
                  </div>
               
                  <div id="doc" class="yui-t4">
                      <div id="hd">
                        <div id="header"><h1><a href="http://www.free-css.com/free-css-layouts.php">Free CSS Layouts</a></h1></div>
                      </div>
                      <div id="bd">
                        <div id="yui-main">
                          <div class="yui-b">
                            <div class="content">Content Here</div>
                          </div>
                        </div>
                        <div class="yui-b">
                          <div id="secondary">
                              <ul style="padding: 10px 25px">
                                  <li>Some Point</li>
                                  <li>Special Point</li>
                                  <li>Extra Point</li>
                              </ul>
                          </div>
                        </div>
                      </div>
                      <div id="ft">
                        <div id="footer">Footer</div>
                      </div>
                    </div>

                    <div id="doc" class="yui-t4">
                      <h1>i amdjfoj jfjldvjlfqji dkowrkovnlksd djkafji.\f.jk djwiljrjkdvjk djb,fjfbjkcbjkd dnkefkfhjs fnafjefjk fnjfjnef </h1>
                    </div>
                 
                   
       
           
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
        crossorigin="anonymous"></script>
        <script src="http://code.jquery.com/jquery-2.1.4.js"></script>
		
				

    </body>
</html>