* {
	margin: 0px;
	padding: 0px;
}

body {
	
}

#google {
	position: fixed;
	width: 80%;
	height: 20px;
	left: 10%;
	top:30%;
	text-align: center;
}

/* #google h2 {
	color: #DD4B39;
} */

#sidebar {
	position: fixed;
	width: 230px;
	height: 650px;
	background: #000;
	left: -230px;
	transition: all 200ms linear;
	text-align: left
}


#sidebar.active {
	left: 0px;
	
}

#sidebar ul li {
	color: #fff;
	padding: 10px 15px;
	list-style: none;
	font-size: 15px;
	font-weight: 500
}

#sidebar ul li a {
	color: #fff
}

#sidebar ul li i {
	padding: 0px 20px 0px 0px;
}

#sidebar .toggle-btn {
	position: absolute;
	left: 245px;
	top: 20px;
}

#sidebar .toggle-btn span {
	display: block;
	width: 20px;
	height: 2px;
	background-color: white;
	margin: 3px 0px;

}

/* home */
#home {
	margin: 50px 50px;
}




nav {
	background: #049BCB;
	padding: 20px 10px;
	text-align: center;
}

nav ul {
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
}

nav li {
	list-style-type: none;
	display: inline-block;
	margin: 0 20px 0 0;
}

nav a {
	color: #fff;

	background: rgba(255, 255, 255, 0.2);
	text-decoration: none;
	padding: 10px;

}

nav a:hover {
	color: #fff;
}