* {
	margin: 0px;
	padding: 0px;
}

body {
	
}

#google {
	position: relative;
	width: 80%;
	height: 20px;
	left: 10%;
	top:30%;
	text-align: center;
}


#signup {
	position: relative;
	width: 80%;
	height: 20px;
	left: 10%;
	top: auto;
	text-align: center;
}

/* sidebar */
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }

.sidenav p {
	color: #f1f1f1;
	padding: 0px 0px 8px 25px;
	font-size: 15px;
	overflow: hidden;
}
.sidenav h6 {
	color: #f1f1f1;
	padding: 0px 0px 8px 25px;
	
}
  
.sidenav a {
	padding: 8px 8px 8px 25px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }

  .sidenav a i {
	  padding: 0px 20px 0px 0px;
  }
  
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	margin-bottom: 0px;
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }

/* home */
#home {
	margin: 5px 20px;
}
#home-index {
	margin: 20px 20px
}

#home-login {
	margin: 20px 20px;
	width: auto;
	height: auto;
}
/* navbar */

nav {
	padding: 5px 5px;
	
}



